@import "node_modules/bootstrap/scss/bootstrap";
@import "/src/components/Home.scss";
@import "/src/components/About.scss";

.title {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.navbar-nav {
  display: inline-block;
  text-align: center;
  margin: auto;
}